/* Font & Color Overrides */
body {
  font-family: "Gill Sans", sans-serif;
  color: #4f4f4f;
  background-color: #f9f7f3;
  }

  .skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

  /* Custom Colors as Bootstrap-like utility classes */
  .bg-primary-blue {
    background-color: #0043ca !important;
  }
  
  .bg-dark-grey {
    background-color: #4f4f4f !important;
  }

  .bg-light-pink {
    background-color: #ead1dc !important;
  }

  .bg-light-green {
    background-color: #304d24 !important;
  }

  .bg-selected-green {
    background-color: #99b67a !important;
  }

  .bg-cream {
    background-color: #f8f1e3 !important;
  }

  .text-dark-gray {
    color: #4f4f4f !important;
  }

   /* ended up changing this to a dark orange/brown to contrast with the green but lmk thoughts (versus dark blue) */
  .text-dark-blue {
    color: #884303 !important;
  }

  .text-cream {
    color: #f9f7f3 !important;
  }

  .text-gold {
    color: #614d04 !important;
  }

  .border-light-green {
    border-color: #81c764 !important;
  }
  
  .border-light-pink {
    border-color: #ead1dc !important;
  }

  .btn-outline-dark-green{
    color: #344e41 !important;
    border-color: #344e41 !important;
    border-width: medium;
  }

  .btn-outline-dark-green:hover, .btn-outline-dark-green:focus {
    background-color: #344e41 !important;
    color: #f9f7f3 !important;
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

  }

  .btn-dark-green{
    color: #ffffff !important;
    border-color: none !important;
    background-color: #304d24 !important;
  }

  

  /* Hover effect for books (Affordance & Feedback) */
  .book {
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  .book:hover, .book:focus {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }


.tooltip {
  background-color: #81c764 !important; 
  border-radius: 8px !important;
  font-size: 14px !important;
  padding: 10px 15px !important;
}


.tooltip-inner {
  color: #f9f7f3 !important;
  text-align: center !important;
  padding: 8px 12px !important; 
}


.tooltip-arrow {
  border-top-color: #81c764 !important; 
}

[data-bs-toggle="tooltip"] {
  font-weight: bold; 
}
