body {
    color: black;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 30px;
  }
  
  nav ul li a {
    text-decoration: underline;
    font-weight: bold;
  }
  
  .book-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
  }
  
  .book {
    padding: 15px;
    margin: 20px;
    width: 200px;
    text-align: center;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
  }
  