/* Font & Color Overrides */
body {
  font-family: 'Lora', serif;
  color: #4f4f4f;
  background-color: #f9f7f3;
  }

  /* Custom Colors as Bootstrap-like utility classes */
  .bg-primary-blue {
    background-color: #0043ca !important;
  }
  
  .bg-dark-grey {
    background-color: #4f4f4f !important;
  }

  .bg-light-pink {
    background-color: #ead1dc !important;
  }

  .bg-light-green {
    background-color: #6cb04f !important;
  }

  .bg-selected-green {
    background-color: #ceebae !important;
  }

  .bg-cream {
    background-color: #ecddc1 !important;
  }

  .text-dark-gray {
    color: #4f4f4f !important;
  }

   /* ended up changing this to a dark orange/brown to contrast with the green but lmk thoughts (versus dark blue) */
  .text-dark-blue {
    color: #884303 !important;
  }

  .text-cream {
    color: #f9f7f3 !important;
  }

  .border-light-green {
    border-color: #81c764 !important;
  }
  
  .border-light-pink {
    border-color: #ead1dc !important;
  }

  .btn-outline-dark-blue{
    color: #0043ca !important;
    border-color: #0043ca !important;
  }

  .btn-outline-dark-blue:hover {
    background-color: #0043ca !important;
    color: #f9f7f3 !important;

  }

  /* Hover effect for books (Affordance & Feedback) */
  .book {
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  .book:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }


.tooltip {
  background-color: #81c764 !important; 
  border-radius: 8px !important;
  font-size: 14px !important;
  padding: 10px 15px !important;
}


.tooltip-inner {
  color: #f9f7f3 !important;
  text-align: center !important;
  padding: 8px 12px !important; 
}


.tooltip-arrow {
  border-top-color: #81c764 !important; 
}

[data-bs-toggle="tooltip"] {
  font-weight: bold; 
}
